

<form action="/payment/results">
  <div>
    <label for="p_apr">
      APR
    </label>

    <input id="p_apr" text="text" name="user_apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="p_years">
      Number of years
    </label>

    <input id="p_years" text="text" name="user_years" placeholder="How many years to repay?">
  </div>

  <div>
    <label for="p_principal">
      Principal
    </label>

    <input id="p_principal" text="text" name="user_pv" placeholder="How much principal?">
  </div>

  <button>
    Calculate monthly payment
  </button>
</form>



<a href="/payment/new">
  Calculate another payment
</a>
